
.page-title {
    color: #5E2B97;
    font-weight: 600;
    margin-bottom: 20px;
}

/* Table Header */
.purple-table-header th {
    background-color: #402158 ;
    color: white;
}

/* Details Button */
.btn-purple {
    background-color: #7D5683;
    color: white;
    border: none;
}

    .btn-purple:hover {
        background-color: #C9BFB5;
        color: white;
    }


.navbar {
    background-color: #140E36 !important;
}

    .navbar a,
    .navbar-brand {
        color: white !important;
    }

        .navbar a:hover {
            color: #C9BFB5 !important;
        }

.table-striped tbody tr:nth-of-type(odd) {
    background-color: #f3e5f5;
}


body {
    background-color: #E2E9FF;
    font-family: 'Segoe UI', sans-serif;
}
