tr.table-accept td {
    background-color: #59b5ff !important;
    color: black !important;
}

tr.table-reject td {
    background-color: #DC143C !important;
    color: white !important;
}

tr.table-pending td {
    background-color: #D3D3D3 !important;
    color: black !important;
}

tr.table-transit td, tr.table-onsite td {
    background-color: #F3E5AB !important;
    color: black !important;
}

.table-accept-transit {
    background-color: #cce5ff !important;
    color: #004085 !important;
}

.table-reject-transit {
    background-color: #f5c6cb !important;
    color: #721c24 !important;
}

.table-accept-onsite {
    background-color: #e2f0d9 !important;
    color: #2e7d32 !important;
}

.table-reject-onsite {
    background-color: #f5c6cb !important;
    color: #721c24 !important;
}

.page-title {
    color: #5E2B97;
    font-weight: 600;
    margin-bottom: 20px;
}

/* Table Header */
.purple-table-header th {
    background-color: #6A0DAD;
    color: white;
}

/* Details Button */
.btn-purple {
    background-color: #8e44ad;
    color: white;
    border: none;
}

    .btn-purple:hover {
        background-color: #732d91;
        color: white;
    }


.navbar {
    background-color: #5E2B97 !important;
}

    .navbar a,
    .navbar-brand {
        color: white !important;
    }

        .navbar a:hover {
            color: #d1c4e9 !important;
        }

.table-striped tbody tr:nth-of-type(odd) {
    background-color: #f3e5f5;
}


body {
    background-color: #f9f2ff;
    font-family: 'Segoe UI', sans-serif;
}
